extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const links = [
      {
        href: "#",
        text: "Меню",
      },
      {
        href: "#loader",
        text: "Лоадер",
      },
      {
        href: "#",
        text: "Сборка первого экрана",
      },
      {
        href: "#",
        text: "Появление блоков",
      },
      {
        href: "#paralax",
        text: "Паралакс",
      },
      {
        href: "#slider",
        text: "Слайдер по скроллу",
      },
    ]

    const slides = [
      {
        text: ['Сиба-ину&nbsp;&mdash; порода охотничьих собак, выведенная на&nbsp;японском острове Хонсю, самая мелкая из&nbsp;шести пород исконно японского происхождения.'],
        img: 'slider-1',
        width: '300',
        height: '300',
      },
      {
        text: ['Обычный сибий окрас - рыжий.'],
        img: 'slider-2',
        width: '300',
        height: '300',
      },
      {
        text: ['Но бывают и беляши.'],
        img: 'slider-3',
        width: '300',
        height: '300',
      },
      {
        text: ['И даже черныши!'],
        img: 'slider-4',
        width: '300',
        height: '300',
      },
      {
        text: ['Спсибо за внимание :)'],
      },
    ]

block main
  main
    +loader()
    +page-content()
      +page-section().page-section--no-padding-top
        +intro(links)
      +page-section()(id='#loader')
        +loader-task()
      +page-section()(id='#paralax')
        +paralax-task()
      +page-section()(id='#slider')
        +slider-task(slides)


block modals
