extends ../components/base/layout

block variables
  - const title = "Задание по карте №1" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "test-2.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +page-content()
      +page-section()
        +task-maps({
          title: 'Задание по карте №2',
          id: 'map-1',
          tasks: ['Реализовать карту через API Яндекс карт;', 'Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами;', 'На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться;', 'Создать и расположить пины на карте из json файла;', 'При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином;'],
        })

block modals
