extends ../components/base/layout

block variables
  - const title = "Задание по карте №1" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "test-1.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +page-content()
      +page-section()
        +map('map-1')

block modals
