extends ../components/base/layout

block variables
  - const title = "Задание по карте №4" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "test-4.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +page-content()
      +page-section()
        +task-maps({
          title: 'Задание по карте №4',
          id: 'map-4',
          tasks: ['Реализовать карту через API Яндекс карт;', 'Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами;', 'На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться. Масштабировать ее можно только при нажатии клавиши Ctrl + колесико мышки. Если пользователь навел курсор на карту и начинает скролить мышкой, то на карте должен появиться overlay с инструкцией, что для того что бы масштабировать карту нажмите Ctrl + колесико мышки;', 'Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином;', 'Реализовать кластеризацию меток. Если зум карты становится меньше, то пины должны собираться в один кластер;', 'При клике на кластер должно раскрываться окошко, в котором будет списком указаны, какие пини находятся в этой кластере;'],
          url: './../../../data/map-4.json',
        })

block modals
