extends ../components/base/layout

block variables
  - const title = "Задание по карте №3" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "test-3.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const buttons = [
      {
        text: "Здания",
        type: "building",
      },
      {
        text: "Театры",
        type: "theatre",
      },
      {
        text: "Станции метро",
        type: "subway",
      },
      {
        text: "Музеи",
        type: "museum",
      },
    ]

block main
  main
    +loader()
    +page-content()
      +page-section()
        +task-maps({
          title: 'Задание по карте №3',
          id: 'map-3',
          tasks: ['Реализовать карту через API Яндекс карт;', 'Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами;', 'На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться. Масштабировать ее можно только при нажатии клавиши Ctrl + колесико мышки. Если пользователь навел курсор на карту и начинает скролить мышкой, то на карте должен появиться overlay с инструкцией, что для того что бы масштабировать карту нажмите Ctrl + колесико мышки;', 'Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином;', 'Создать блок с фильтрами под картой и при клике на каждый элемент фильтра настроить фильтрацию пинов на карте в зависимости от выбранного фильтра;', 'Если выбран изначально фильтр "Все объекты" и открыт у кого нибудь пина баллун, то при активации фильтра этого пина у которого открыт баллун, карта должна отфильтроваться, но баллун не должен закрываться. Если у пина открыт баллун и мы выбираем другой фильтр, то баллун должен закрыться;'],
          url: './../../../data/map-3.json',
        })
      +page-section()
        +filter(buttons)

block modals
