mixin intro(list = [])
  .intro&attributes(attributes)
    .container
      +title({tag: 'h1', text: 'Перейти к разделу:'}).title--h1
      ul.intro__list
        each item in list
          li.intro__item
            a(href=item.href aria-label="Перейти к разделу").intro__link!= item.text
