mixin loader-task()
  .loader-task&attributes(attributes)
    .container
      .loader-task__wrapper
        +title({tag: 'h2', text: 'Лоадер'}).title--h3
        p.loader-task__text Обновите страницу, чтобы увидеть лоадер
