mixin task-maps(options = {})
  - const title = options.title || false;
  - const mapId = options.id || false;
  - const tasks = options.tasks || false;
  - const url = options.url || false;

  .task-maps&attributes(attributes)
    .container
      +title({tag: 'h2', text: title})
      ul.task-maps__tasks
        each task in tasks
          li.task-maps__task
            p.task-maps__text!=task
      +map()(id=mapId, data-url=url)
