.btn {
  display: inline-flex;
  padding: 20px;

  color: $color-onion;

  background-color: $color-sunglow;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  transition: transform $trans-default, box-shadow $trans-default;

  &--red {
    color: $color-default-white;
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
}
