.footer {
  min-height: 70px;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-default-black-40;

  &__text {
    color: $color-default-white;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
}
