.loader {
  width: 100vw;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: $color-sharm;
  background-image: url('../../img/content/loader-bg.png');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: 50% 500px;

  z-index: 100;

  @include vp-1023 {
    background-size: 300px auto;
    background-position: 50% 300px;
  }

  &.hidden {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;

    @include vp-1023 {
      margin-top: 65px;
    }
  }

  &__circle {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 20px solid $color-pattens-blue;
    border-top: 20px solid $color-transparent;

    animation: loader 3s infinite linear;

    margin: 0;

    z-index: 101;

    @include vp-1023 {
      width: 120px;
      height: 120px;

      border: 15px solid $color-pattens-blue;
      border-top: 15px solid $color-transparent;
    }
  }
}

@keyframes loader {
  0% {
    transform: translate(-20%, 50%) rotate(0deg);
  }

  100% {
    transform: translate(-20%, 50%) rotate(360deg);
  }
}
