.map {
  width: 100%;
  height: 600px;

  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

  overflow: hidden;
  position: relative;

  @include vp-1023 {
    height: 400px;
  }

  @include vp-767 {
    height: 300px;
  }

  &__overlay {
    display: none;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    color: $color-default-white;
    font-size: 40px;
    line-height: 44px;

    background-color: $color-default-black-40;
    z-index: 2;

    & p {
      max-width: 90%;
      text-align: center;
    }

    @include vp-1023 {
      display: none;
    }
  }
}
