.page-content {
  padding: 28px 0 60px;
  margin: 0 auto;

  @include vp-1439 {
    padding: 20px 0 48px;
  }

  @include vp-1023 {
    padding: 20px 0 32px;
  }

  @include vp-767 {
    padding: 16px 0 32px;
  }

  &--no-padding-top {
    padding: 0 0 60px;

    @include vp-1439 {
      padding: 0 0 48px;
    }

    @include vp-1023 {
      padding: 0 0 32px;
    }

    @include vp-767 {
      padding: 0 0 32px;
    }
  }
}
