.task-maps {
  & .title {
    margin: 0 0 40px;

    @include vp-1023 {
      margin: 0 0 30px;
    }

    @include vp-767 {
      margin: 0 0 20px;
    }
  }

  &__tasks {
    list-style: none;

    padding-left: 40px;
    margin: 0 0 40px;
  }

  &__task {
    position: relative;

    margin: 0 0 10px;

    &::before {
      content: url("../../img/content/check.png");
      width: 15px;
      height: 15px;

      position: absolute;
      left: -45px;
      top: -4px;
    }
  }

  &__text {
    font-style: italic;

    margin: 0;
  }
}
