.title {
  font-weight: 600;
  color: inherit;

  margin-top: 0;

  &--h1 {
    font-size: 40px;
    line-height: 44px;

    text-transform: uppercase;

    @include vp-1023 {
      font-size: 36px;
      line-height: 38px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 32px;
    }
  }

  &--h2 {
    font-size: 36px;
    line-height: 40px;

    letter-spacing: 5px;

    @include vp-1023 {
      font-size: 26px;
      line-height: 30px;
    }
  }
}
