mixin paralax-scale()
  .paralax-scale&attributes(attributes)
    .paralax-scale__item(data-paralax='scale')
      p.paralax-scale__text Я появляюсь с увеличением
    .paralax-scale__item(data-paralax='scale')
      p.paralax-scale__text Я тоже, но попозже
    .paralax-scale__item(data-paralax='scale')
      p.paralax-scale__text А при скролле обратно мы пропадем
