mixin paralax-translate()
  .paralax-translate&attributes(attributes)
    .paralax-translate__item(data-paralax-direction='bottom')
      p.paralax-translate__text Я еду вниз
    .paralax-translate__item(data-paralax-direction='top')
      p.paralax-translate__text А я - наверх
