mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Анимации"
      },
      {
        href: "test-1",
        text: "Задание по карте №1"
      },
      {
        href: "test-2",
        text: "Задание по карте №2"
      },
      {
        href: "test-3",
        text: "Задание по карте №3"
      },
      {
        href: "test-4",
        text: "Задание по карте №4"
      },
    ]

  header.header(class=headerMods)
    .container
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
